.format-style {
    text-align: center;
    font-size: large;
}

.name {
    font-weight: 300;
    color: blue;
}

.school {
    color: crimson;
}

.total {
    color: darkmagenta;
}

.score {
    color:forestgreen;
}